Options +FollowSymLinks
Options -Indexes
Order allow,deny
Allow from all
php_flag display_errors off

<FilesMatch ".(css|js)$">
	Header append Cache-Control "no-store, no-cache, must-revalidate"
</FilesMatch>

<IfModule mod_headers.c>
	Header always set X-Content-Type-Options "nosniff"
	Header always set X-Frame-Options: "DENY"
	Header unset x-powered-by
	Header edit Set-Cookie ^(.*)$ $1;HttpOnly;Secure;SameSite=Strict
</IfModule>

ErrorDocument 404 /404.html

RewriteEngine on

RewriteCond %{HTTP_REFERER} on
RewriteCond %{HTTP_REFERER} !^http://(.*)$ [NC,OR]
RewriteCond %{HTTP_REFERER} !^https://(.*)$ [NC]
RewriteRule .* - [F]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !phpmyadmin
RewriteRule ^(.*)$ ./index.php?alias=$1 [L]