h1
{
	font-style: italic;
}

header
{
	height: 10%;
}

menu, aside
{
	width: 10%;
}

article
{
	width: 80%;
}

menu
{
	padding-left: 10px;
}

header #h1
{
	width: 20%;
}

header #txt
{
	width: 60%;
}

.contact
{
	width: 100%;
	align-items: center;
}

.Label
{
	height: 50%;
	align-self: center;
}