h1
{
	font-style: italic;
}

header
{
	height: 10%;
}

menu, aside
{
	width: 10%;
}

article
{
	width: 80%;
}

menu
{
	padding-left: 10px;
}

header #h1
{
	width: 20%;
}

header #txt
{
	width: 60%;
}

#testImage
{
	width: 100%;
	height: 100%;
}

.contact
{
	width: 100%;
	align-items: center;
}

#EntryPanel .Password, .Remember, .Submit
{
	margin-left: 5px;
	justify-content: center;
}

.Label
{
	height: 50%;
	align-self: center;
}

#auth
{
	margin-bottom:10px;
}

.Status
{
	margin-left: 5px;
}