ol
{
	list-style-type: none;
	background-color: blue;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}
menu a
{
	color: white;
}
li:hover
{
	background-color: lightblue;
	font-weight: bold;
}