table, #pager
{
	border-spacing:0px;
	margin-left: 10%;
}

table
{
	border: 0px;
}

table caption
{
	color: white;
}

th
{
	border-width: 2px;
	border-style: outset;
	background-color: blue;
	border-color: lightblue;
}

th a
{
	width:100%;
	color: white;
}

#pager a
{
	margin-left: 3px;
	color:white;
}

tbody td
{
	color: white;
	border-color: lightblue;
}

#pager a:hover, tbody tr:hover
{
	background-color: lightblue;
}

th a:hover, tbody td:hover
{
	background-color: lightgray;
}

tfoot tr, tfoot td
{
	border-style: none;
}